#root {
  
  margin: 0;
  padding: 0;
 

}

body{
  overflow: hidden;
  
}



body.modal-open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 3;
}

.header{
  
  position: fixed;
  top:0 ;
  left: 0;
  width: 100%;
  z-index: 2;



  h1{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  
  .quote-container{
    width: 50%;
    margin: auto;
    padding: 1rem;
    border: 1px solid white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.92);
    
  }

  
}


.add-todo-container {
  box-sizing: border-box;
  width: 100%;
  
  .new-task-button{
    display: block;
    margin: 0 auto 2rem;
    width: 100%;
    padding: 20px;
    background-color: #007bff;
    font-size: larger;
    text-align: center;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .new-task-button:hover {
    background-color: #0056b3;
  }
  
  
  
}

.tasks-status-container {
  display: flex;
  justify-content: space-between;
  padding: 13rem 1rem 0 ;
  height: calc(100vh - 120px - 5rem);          
  overflow-y: auto;   
  
 .task-section{
   width: 30%;
   padding-bottom: 4rem;
   border: 1px solid white;
     
    

  }

 h2{
    text-align: center;
    color: white;
    padding: 10px;
    background-color: #249836;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1; 

  }

  .celebration-gif{
    vertical-align: middle;
    width: 30px;
    margin-left: 10px;
  }


  .fallback-message{
    text-align: center;
    color: white;
    padding: 10px;
    margin: auto;
    font-size: 1rem;
  }
}

li{
  background-color: #4aa84d36;
  padding:  10px 5px;
  list-style: none;
  margin-top: 0.5rem;
 
  .task-item{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    .task-item2{
      display: flex ;
    }

    h3{
      flex-basis: 55%;
      word-break: normal;
      overflow-wrap: break-word;
    
    }

    .todo-buttons{
      flex-basis: 40%;
      display: flex;
      justify-content: space-between;
      flex-shrink: 0;
      align-items: center;
      
    
      
    }

    .task-buttons, .task-time{
      text-align: center;
      display: block;

      button{
      
      border: none;
      padding: 5px 5px;
      border-radius: 2px;
      
      }

    }
    

    .task-time{
      color: white;
      font-size: 0.6rem;
      font-weight: bold;
    }

    

    button{
      background-color: #007bff;
      border: none;
      padding: 7px 5px;      
      border-radius: 2px;
      font-size: 0.7rem;
      color: white;
      cursor: pointer;
    }

   .celebration-png{
      vertical-align: middle;
      width: 20px;
      margin-left: 5px;
      
    }

    .task-icon{
      width: 20px;
      height: 25px;
      vertical-align: middle;
      margin-right: 2px;
      filter: brightness(0) invert(1); // This makes most icons white
    }
    
  }

  .todo-summary {
    margin-top: 2px;
    cursor: pointer;
    font-size: 0.7rem;
    width: 100px;
    text-decoration: underline;
  }

  .description{
    margin-left: 5px;
    font-size: 0.9rem;
    color: white;
    word-break: normal;
    overflow-wrap: break-word;
     
  }

}

.modal{
  display:block;
  position: fixed;
  width: 30%;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  z-index: 4;
  text-align: center;

  input, textarea{
    width: 100%;
    min-height: 60px;
    padding: 10px;
    background-color: black;
  }

  h3{
    color: black;
    margin-bottom: 1rem;
  }

  .buttons{
    display: flex;
    justify-content: space-evenly;

    button{
      background-color: #007bff;
      padding: 10px;
      border: none;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover{
      background-color: #0056b3;
    }
  }
}
  
@media only screen and (max-width:1024px){
  
  li{  
    .task-item{
      .todo-buttons {
        flex-basis: 40%;
        
        button {
          font-size: 0.49rem;
        }
      }
        
      .task-time{
        
        font-size: 0.5rem;
        font-weight: bold;
      }
   }
  }
}



@media only screen and (max-width:768px) {

   
  .header .quote-container {
    width: 100%;
    font-size: 1.4rem;
  }

  .add-todo-container {
    .new-task-button{
      margin: 0 auto 1rem;
      
    }
  
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 10rem auto 0 ;
    
  }

  .links a {
    flex: 1;
    text-align: center;
    margin: 0 5px;
    padding: 10px 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
  }

  a:hover{
    scale: 1.02;
  }

  .link.active {
    background-color: #0056b3;
    font-weight: 500;
    scale: 1.02;

  }

  .tasks-status-container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto 0 ;
    padding: 15rem 0 0;
    
   .fallback-message{
      font-size: 1.2rem;
      margin: 1rem 0;
    }
    
    .task-section {
      width: 100%;
      margin-bottom: 1rem;
      border: 2px solid white;
      
    }

    .celebration-gif{
      width: 50px;
    }
  }

  li{
    padding:  15px 25px;
    margin-top: 1rem;
    font-size: 1rem;
  
    .task-item{
     .todo-buttons{
        flex-basis: 33%;
        justify-content: space-around;
        
      }
      
     .task-buttons, .task-time{
         font-size: 1rem;

        button{
          padding: 10px 10px;
          border-radius: 5px;
          font-size: 1.2rem;
          margin-top: 10px;
        
        }   
      }
    
      .task-time{
        font-size: 1rem;
        
      }

      button{
        padding: 15px 10px;
        border-radius: 5px;
        font-weight: 500;
      
      }

      .celebration-png{
        vertical-align: middle;
        width: 50px;
        margin-left: 5px;
        
      }

      .task-icon{
        width: 30px;
        height: 35px;
        margin-right: 5px;
       
      }
    }


    .todo-summary {
      margin-top: 5px;
      font-size: 1.1rem;
      width: 130px;

    }

    .description{
      margin-left: 5px;
      font-size: 1.1rem;
          
    }
  }

  .modal {
    width: 70%;

   h3{
      color: black;
      margin-bottom: 1rem;
    }

    .buttons{
      button{
        background-color: #007bff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
        cursor: pointer;
      }

      button:hover{
        background-color: none;
      }
    }

    ::placeholder{
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 480px){

 .header{
    h1{
      font-size: 1.5rem;
    }
    
    .quote-container{
    
      font-size: 0.8rem;
      font-weight: 500;
    
      
    }
  }


 .add-todo-container {
    .new-task-button{
      margin: 0 auto 1rem;
      padding: 10px;
    }
    .new-task-button:hover {
      background-color: none;
    }
    
  }

  .links{
   margin: 8rem auto 0 ;
   
  }
  
  .links a {
    padding: 3px;
    font-size: 0.6rem;
  }

  .link.active {
    background-color: #0056b3;
    font-weight: 600;
  }

  
  .tasks-status-container {
      margin: 0 auto 0 ;
      padding-top: 11rem;
      height: calc(100vh - 120px - 2rem);
    .fallback-message{
      font-size: 1rem;
     
    }
    
    .task-section {
      width: 100%;
      margin-bottom: 1rem;
      border: 2px solid white;
    }

    h2{
      font-size: 1.2rem;
    }

    .celebration-gif{
      width: 50px;
    }
  }

  li{
    
    padding:  10px 10px;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  
    .task-item{
      .todo-buttons{
        flex-basis: 40%;
        justify-content: space-around;
        
      
      }
      
      .task-buttons, .task-time{
        font-size: 0.8rem;

        button{
          padding: 5px 5px;
          border-radius: 5px;
          font-size: 1rem;
          margin-top: 10px;
        
        } 
        
      }
      
      .task-time{
        font-size: 0.6rem;
        
      }

      button{
        padding: 5px 5px;
        border-radius: 5px;
        font-size: 0.7rem;
        font-weight: normal;
        
      }

      .celebration-png{
        width: 30px;
        
      }

      .task-icon{
        width: 20px;
        height: 25px;
       
      }
      
    }


    .todo-summary {
      margin-top: 5px;
      font-size: 0.7rem;
      
    }

    .description{
      font-size: 0.9rem;
          
    }
  }

  .modal {
    width: 70%;

    input, textarea{
      width: 100%;
      min-height: 40px;
      padding: 10px;
      background-color: black;
    }


    .buttons{
      button{
        padding: 5px;
        font-size: 1rem;
        
      }
  
    }
    ::placeholder{
      font-size: 0.7rem;
    }
  }
 
}

