#root {
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

p, button{
 font-family: 'Inter', sans-serif;
}

h2, h3{
  font-family: 'Prosto One', sans-serif;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 100;
  overflow: hidden;
}

.header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index:10;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 24px;


  .app-title-container{
    color: #4F46E5;
    font-size: 12px;
    font-family: "Inter",sans-serif;
    flex-basis: 17%;
   

    img{
      vertical-align:sub;
      width: 30px;
      
    }
  }
  
  .quote-container{
    background-color: #EEF2FF;
    padding: 16px 6px;
    border-left: 2px solid #4F46E5;
    color: #312E81;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: "Inter",sans-serif;
    flex-basis: 40%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
    
  }

  .header-actions{
    display: flex;
    flex-basis: 26%;
    justify-content: flex-end;
    gap:12px;
    
  }

  .new-task-button, .clear-all-button{
    background: #4F46E5;
    color: #ffffff;
    height: 41.33px;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
 
  }

  .clear-all-button{
    background: #ffffff;
    color: #374151;
    border: 1px solid #d4d3d394;
    padding-left: 12px;
  }

  .clear-all-button:hover, .new-task-button:hover {
    background-color: #EEF2FF;
    color: #312E81;
    scale: 1.03;
    border: 1px solid #acb5d3;
  }

  .clear-all-button img{
    vertical-align: middle;
    width: 19px;
  }
}

.tasks-status-container {
  position: fixed;
  top: 0;
  left: 0;         
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 9.5rem auto 0;
  padding: 0px 24px;
  z-index: 1;
  
  .task-section{
    width: 31%;
    padding-bottom: 4rem;
    border-radius: 16px;
    border-top-left-radius: 0px;
    height: calc(100vh - 120px - 3.5rem);  
    box-shadow: 0px 6px 16px rgba(0,0,0,0.06);        
    overflow-y: auto; 
    background-color: #ffffff;
    border: 1.2px solid #b7b7b794;
    scrollbar-width: thin;
    
  }

  .celebration-gif{
    vertical-align: middle;
    width: 30px;
    margin-left: 10px;
  }

  .fallback-message{
    text-align: center;
    color: #374151;
    padding: 10px;
    margin: auto;
    font-size: 1rem;
  }

  .fallback-button{
    border: 1px solid #b7b7b794;
    background: none;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    color: #374151;
    border-radius: 5px;
    cursor: pointer;
  }
}

.sub-header-container{
  border-left: 2px solid #1F2937;
  color: #1F2937;
  padding: 20px;
  background-color: #F9FAFB;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 5; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.541);

  .item1{
    display: flex;
    justify-content: space-between;

    .clear-list-button{
      padding: 10px 16px;
      color: #374151;
      background: none;
      border: 1px solid  #b7b7b794;
      border-radius: 5px;
      cursor: pointer;
    
    }

    h2{
      font-size: 18px;
    }

    span{
      background-color: #E5E7EB;
      padding: 2px 8px;
      color: #4b5563;
      font-size: 12px;
      border-radius: 50px;
      vertical-align: middle;
    }
  }

}

.In-progress-header-container{
  border-left: 2px solid #312E81;
  background-color: #EEF2FF;
  color: #312E81;

  .item1{
    .clear-list-button{
      border-color:#bac8ff ;
      color: #312E81;
    }

    span{
      background-color: #C7D2FE;
      padding: 2px 8px;
      color: #3730A3;
    }
  }
}

.completed-header-container{
  border-left: 2px solid #14532D;
  background-color: #F0FDFA;
  color: #14532D;

  .item1{
    .clear-list-button{
      border-color:#a3ecbd ;
      color: #14532D;
    }

    span{
      background-color: #BBF7D0;
      padding: 2px 8px;
      color: #166534;
    }
  }
}

.sub-header-container .item2{
  position: relative;
  width: 100%;
  margin: auto;
  margin-top: 15px;
 
  input{
    width: 100%;
    border-radius: 5px;
    padding: 8px 16px 8px 40px;
    background-color: #ffffff;
    border: 1px solid #b7b7b794;
    color: #374151;
   
  }

  .search-icon{
    all:unset;
    position: absolute;
    left: 3%;
    top:11%
  }
}

li{
  border: 1px solid  #d4d3d394;
  padding: 10px 14px;
  list-style: none;
  border-radius: 8px;
  width: 95%;
  margin: auto;
  margin-top: 0.5rem;
  box-shadow: 0px 6px 16px rgba(0,0,0,0.06); 
  
 
  .task-item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
 

    .priority-display{
      padding: 4px 8px;
      font-size: 12px;
      border-radius: 7px;
      font-weight: 500;
    }

    .icon{
      width: 20px; 
    }

    .time{
      background-color: #EEF2FF ;
      color: #4F46E5;
      padding: 4px 8px;
      flex-basis: 100px;
      text-align: center;
      border-radius: 5px;
      font-size: 14px;
      font-weight: 500;
      font-family: "SF Mono", "Fira Code", "Roboto Mono", monospace;
    }

    .task-item2{
      display: flex ;
    }

    .todo-buttons{
      display: flex;
      flex-basis: 70%;
      gap:20px;
      flex-shrink: 0;
      align-items: flex-start ;
      justify-content: flex-end;

      .edit-button, .remove-button{
        all: unset;
        cursor: pointer;
        color: #374151;
        border: 1px solid #d4d3d394;
        padding: 2px 8px 2px 5px;
        font-size: 12px;
        font-family: "Inter"sans-serif;
        border-radius: 5px;
        background-color: #F9FAFB;
      }
      
      button img{
        vertical-align: middle;
      }
      
    }  
  }

  h3{
    color: #111827;
    flex-basis: 55%;
    font-weight: 500;
    font-size: 16px;
    word-break: normal;
    overflow-wrap: break-word;
    font-family: 'Inter', sans-serif;
    margin-top: 8px;
  }

  .todo-details{
    margin-bottom: 10px;
  }

  .todo-summary {
    margin-top: 2px;
    cursor: pointer;
    font-size: 0.7rem;
    color: #6B7280;
    width: 100px;
    text-decoration: underline !important;
  }

  .description{
    font-size: 0.9rem;
    color: #6B7280;
    word-break: normal;
    overflow-wrap: break-word;
     
  }

  .start-button{
    width: 100%;
    background-color: #EEF2FF;
    color: #4338CA;
    padding: 8px 0;
    font-size: 14px;
    font-family: "Inter",sans-serif;
    border: none;
    border-radius: 5px;
  }

  .task-buttons{
    text-align: center;
    display: flex;
    justify-content: space-between;

    button{
      flex-basis: 47%;
      border: none;
      padding: 8px 0;
      border-radius: 5px;
      background-color: #16A34A;
      color: #ffffff;
      font-size: 14px;
      cursor: pointer;
      font-weight: 500;
    }
  }
}

.in-progress img{
  vertical-align: sub;
  margin-right: 4px;
  width: 16px;
}

.completed-tasks li{
  border: 1px solid  #d4d3d394;
  background-color: #F9FAFB;
  .task-item{
    display: block;
  }
  h3{
    margin-top: 0;
    color: #374151;
    text-decoration: line-through;
    border-bottom: 1px solid  #d4d3d394 ;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
  }

  img{
    vertical-align: middle;
    margin-left: auto;
    width: 18px;
  }

  .task-time{
    display: flex;
    justify-content: space-between;
    color: #848b95;
    font-size: 11px;
    font-weight: 600;
  }

  .task-time p span{
    color: #374151;    
    font-family: "SF Mono", "Fira Code", "Roboto Mono", monospace;
  }
}

.modal{
  display:block;
  position: fixed;
  width: 30%;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f6f7f8f0;
  border-radius: 5px;
  z-index: 110;
  text-align: center;
  overflow: hidden;

  form{
    text-align: left;
  }

  input, textarea{
    width: 100%;
    min-height: 60px;
    padding: 10px;
    background-color: #ffffff;
    color: #363636;;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    border: 1.5px solid #95959594;
  }


  h3, h2{
    color: black;
    margin-bottom: 1rem;
    opacity: 100%;
  }

  .priority-label{
    color: rgba(0, 0, 0, 0.699);
    text-align: left;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
  }

  #priority{
    background-color: #f6f7f8f0;
    padding: 5px;
    border-radius: 5px;
    color: #363636;
    font-family: 'Inter', sans-serif;
  }

  .buttons{
    display: flex;
    justify-content: space-evenly;

  }

  button{
    background-color: #000000;
    padding: 10px !important; 
    border: none;
    font-size: 1rem !important;
    border-radius: 5px;
    color: #ffffff;
    font-weight: normal !important;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .edit-form button{
    display: block;
    margin: 10px auto;
  }

  .edit-form input{
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
  }

  button:hover{
    background-color: #c6c2c2;
    border: 1.5px solid #0000004e;
    color: #000000;
  }
}

@media only screen and (max-width:1200px){
  .header{
    .header-actions{
      flex-basis: 28%;
    }
  }
}

@media only screen and (max-width:1112px){
  .header{
    .header-actions{
      flex: 0 1 32%;
    }
  }

  li{  
    .task-item{  
      .task-time{
        font-size: 10px;
        font-weight: bold;
      }
   }
  }
}

@media only screen and (max-width:1024px){
  .header{
    .quote-container{
      flex-basis: 45%;
      font-size: 15px;      
    }

    .header-actions{
      flex: 0 1 35%;
    }
  }

  .tasks-status-container{
    .task-section{
      width: 32%;           
    }
  }

  .sub-header-container{
    padding: 20px 10px;
    .item1{
      .clear-list-button{
        padding: 10px;
      }

      h2{
        font-size: 16px;
      }

      span{
        font-size: 10px;
      }
    }
  }
  
  li{  
    .task-item{  
      .task-time{   
        font-size: 0.61rem;
        font-weight: bold;
      }
   }
  }
}

@media only screen and (max-width:900px) {
  .header{
    flex-direction:column ;
    align-items: flex-start;
    padding-bottom: 80px;

    .header-actions{
      position: absolute;
      right: 24px;
      width: 80%;
    }
    
  }
   
  .header .quote-container {
    width: 100%;
    font-size: 1.4rem;
  }
   
  .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 10rem auto 0 ;
    z-index: 20;
    padding: 0 24px;
    gap:12px;

    span{
      background-color: #E5E7EB;
      padding: 2px 8px;
      color: #4b5563;
      border-radius: 40px;
      vertical-align: middle;
      margin-left: 5px;
    }
  }

  .links a {
    flex: 1;
    text-align: center;
    padding: 10px 5px;
    color: #374151;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #d4d3d394;
  }

  a:hover{
    background-color: #EEF2FF;
    color: #312E81;
    scale: 1.03;
    border: 1px solid #acb5d3;
  }

  .link.active {
    background-color: #312E81;
    font-weight: 500;
    scale: 1.03;
    color: #EEF2FF;

    span{
      background-color: #C7D2FE;
      color: #3730A3;
    }
  }

  .tasks-status-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 16rem auto 0;
    
   .fallback-message{
      font-size: 1.2rem;
      margin: 1rem 0;
    }
    
    .task-section {
      width: 100%;
      margin-bottom: 1rem;
      padding-bottom: 9rem;
    }

    .celebration-gif{
      width: 50px;
    }
  }

  .sub-header-container .item2{
    width: 70%; 
    
  }

  li{
    padding:  15px 25px;
    margin-top: 1rem;
    font-size: 1rem;  
    .task-item{
     .task-buttons{
        font-size: 1rem;
        button{
          padding: 10px 10px;
          border-radius: 5px;
          font-size: 1.2rem;
          margin-top: 10px;
        }   
      }
    
      .task-time{
        font-size: 0.85rem;
      }

     .todo-buttons button{
        padding: 15px 10px;
        border-radius: 5px;
        font-size: 0.75rem;
        font-weight: 500;
      }

      .task-icon{
        width: 30px;
        height: 35px;
        margin-right: 5px;
      }
    }

    .todo-summary {
      margin-top: 5px;
      font-size: 1.1rem;
      width: 130px;
      text-decoration: underline !important;
    }

    .description{
      margin-left: 5px;
      font-size: 1.1rem;
    }
  }

  .modal {
    width: 70%;

   h3{
      color: black;
      margin-bottom: 1rem;
    }

    .buttons{
      button{
        padding: 10px;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
      }
    }
    
    ::placeholder{
      font-size: 0.9rem;
    }
  }
}

@media only screen and (max-width:630px){

  .header{
    padding-left: 10px;
    padding-right: 10px;
    
    .quote-container{
      font-size: 1.2rem;
    }
     
    .header-actions{
      right: 10px;
    }
    
    .clear-all-button, .new-task-button{
      font-size: clamp(14px, 2.5vw, 18px);
    }

    .new-task-button:hover, .clear-all-button:hover{
      scale:1 ;
    }
  }

  .links{
    margin: 9.5rem auto 0 ;
    padding: 0px 10px;
  }

  .links a {
    font-size: clamp(14px, 2.5vw, 18px);
  }

  .sub-header-container .item2{
    width: 70%; 
    
  }

  li{
    .task-item{
      .task-time{
        font-size: 0.8rem
      }
    }
  }
}

@media only screen and (max-width: 490px){
 .header{
    align-content: center;
    padding-bottom: 63px;
    
    .app-title-container{
      font-size: 8px;
      img{
        width: 20px;
      }
    }
    .quote-container{
      font-size: 0.8rem;
      font-weight: 500;
    }

    .header-actions{
      right: 10px;
      top:18px;
    }

    .new-task-button, .clear-all-button{
      padding: 0px 12px;
      height: 35px;
      font-size: clamp(10px, 2.5vw, 18px);
      font-weight: 600;
      
    }

    .new-task-button:hover {
      background-color: none;
    }
  }

  .links{
   margin: 8rem auto 0 ;
  }
  
  .links a {
    padding: 8px 0px;
    font-size: 0.7rem;
  }

  .link.active {
    font-weight: 600;
  }

  .tasks-status-container {
    padding: 0 18px;
    margin: 13rem auto 0;
    .fallback-message{
      font-size: 1rem;     
    }
    
    .task-section {
      width: 100%;
      height: calc(100vh - 120px - 3rem);
    }

    h2{
      font-size: 1.2rem;
    }

    .celebration-gif{
      width: 50px;
    }
  }

  .sub-header-container .item2{
    width: 100%; 
    
  }

  li{
    padding:  10px 10px;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  
    .task-item{      
      .task-buttons{
        font-size: 0.8rem;
        button{
          padding: 5px 5px;
          border-radius: 5px;
          font-size: 1rem;
          margin-top: 10px;
        } 
      }
      
      .task-time{
        font-size: 0.7rem;
      }

      .todo-buttons button{
        padding: 8px 7px;
        border-radius: 5px;
        font-size: 0.7rem ;
        font-weight: 500;
      }

      .task-icon{
        width: 20px;
        height: 25px;
      }
    }

    .todo-summary {
      margin-top: 5px;
      font-size: 0.7rem;
      text-decoration: underline !important;
    }

    .description{
      font-size: 0.9rem;
    }
  }

  .modal {
    width: 70%;
    input, textarea{
      width: 100%;
      min-height: 40px;
      padding: 10px;
    }

    .buttons{
      button{
        padding: 5px;
        font-size: 1rem;
      }
    }
    ::placeholder{
      font-size: 0.7rem;
    }
  }
}

@media only screen and (max-width: 365px){

  .header{
    .app-title-container{
      font-size: 6px;
    }

    .new-task-button, .clear-all-button{
      padding: 10px 12px;
      
    }
  }

  .links{
    span{
      padding: 2px 4px;
    }
  }

  .links a {
    font-size: 0.6rem;
  }

  .tasks-status-container{
    padding: 0 10px;
  }

  li{
    .task-item{
      .todo-buttons button{
        font-size: 0.6rem ;
      }

      .task-time{
        font-size: 0.6rem;
      }
    }
  }
}


@media only screen and (max-width:333px){
  .header{
    align-content: center;
    padding-bottom: 63px;
    
    .app-title-container{
      font-size: 4px;
      img{
        width: 10px;
      }
    }

    .header-actions{
      top:10px
    }
  }

  .links{
    margin: 7.2rem auto 0 ;
  }

}
