#root {
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

p, button{
 font-family: 'Inter', sans-serif;
}

h2, h3{
  font-family: 'Prosto One', sans-serif;
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.4);
  z-index: 3;
  overflow: hidden;
}

.header{
  position: fixed;
  top:0 ;
  left: 0;
  width: 100%;
  z-index: 2;
  
  .quote-container{
    width: 100%;
    margin: 0 auto 1rem;
    padding: 1rem;
    border: 1px solid white;
    border-top: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.92);
    opacity: 80%;

  }

  .header-actions{
    display: flex;
    justify-content: space-evenly;
  }

  .clear-all-button, .new-task-button{
    flex-basis: 30%;
    padding: 15px 20px;
    background-color: #ffffff;
    font-size: larger;
    text-align: center;
    font-weight: bold;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .clear-all-button:hover, .new-task-button:hover {
    background-color: #737373;
    color: #ffffff;
    scale: 1.03;
    border: 1px solid #ffffff94;
  }
}


.add-todo-container {
  box-sizing: border-box;
  flex-basis: 30%;
  .new-task-button{
    width: 100%;
    height: 100%;
  }
}

.tasks-status-container {
  position: fixed;
  top: 0;
  left: 0;         
  right: 0;
  width: 98%;
  display: flex;
  justify-content: space-between;
  margin: 13rem auto 0;
  
 .task-section{
   width: 30%;
   padding-bottom: 4rem;
   border: 1.2px solid rgba(255, 255, 255, 0.541);
   height: calc(100vh - 120px - 5rem);          
   overflow-y: auto;      
  }

  .celebration-gif{
    vertical-align: middle;
    width: 30px;
    margin-left: 10px;
  }

  .fallback-message{
    text-align: center;
    color: white;
    padding: 10px;
    margin: auto;
    font-size: 1rem;
  }

  .fallback-button{
    border: 1px solid #ffffff94;
    background: none;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
  }
}

.sub-header-container{
  text-align: center;
  color: white;
  padding: 10px;
  background-color: #4a537b;
  margin: 0;
  position: sticky;
  top: 0;
  z-index: 1; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.541);

}

h2{
  opacity: 80%;
}

.sub-header-controls{
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  margin-top: 5px;

  input{
    width: 52%;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid #ffffff94;
    background-color: #12141D;
  }

  .clear-list-button{
    width: 90px;
    padding: 7px 10px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff94;
    border-radius: 5px;
    cursor: pointer;
  }

  .search-icon{
    all:unset;
    position: absolute;
    right: 5%;
    top:10%
  }
}

li{
  background-color: #262936;
  padding:  10px;
  list-style: none;
  margin-top: 0.5rem;
 
  .task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .task-item2{
      display: flex ;
    }

    h3,p{
      opacity: 80%;
    }

    h3{
      flex-basis: 55%;
      font-weight: 500;
      font-size: 16px;
      word-break: normal;
      overflow-wrap: break-word;
      font-family: 'Inter', sans-serif;
    }

    .todo-buttons{
      flex-basis: 40%;
      display: flex;
      justify-content: space-between;
      flex-shrink: 0;
      align-items: center;

      .edit-button, .remove-button{
        all: unset;
        cursor: pointer;
      }
    }

    .task-buttons{
      text-align: center;
      display: block;

      button{
        border: none;
        padding: 5px 5px;
        border-radius: 2px;
        background-color: #ffffff;
        color: #000000;
        font-size: 0.7rem;
        cursor: pointer;
      }

      button:last-of-type{
        margin-left: 10px;
      }
    }
    
    .task-time{
      text-align: center;
      display: block;
      color: white;
      font-size: 0.6rem;
      font-weight: bold;
    }

    .todo-buttons  button:nth-of-type(2){
      background-color:#ffffff;
      border: none;
      padding: 7px 5px;      
      border-radius: 2px;
      font-size: 0.7rem;
      color: #000000;
      cursor: pointer;
    }

    .task-icon{
      width: 20px;
      height: 25px;
      vertical-align: middle;
      margin-right: 2px;
      filter: brightness(0) invert(1); // This makes most icons white
    }
  }

  .description-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
  }

  .priority-display{
    padding: 0 5px;
    font-size: 12px;
    border-radius: 7px;
  }

  .todo-summary {
    margin-top: 2px;
    cursor: pointer;
    font-size: 0.7rem;
    width: 100px;
    text-decoration: underline !important;
  }

  .description{
    margin-left: 5px;
    font-size: 0.9rem;
    color: white;
    word-break: normal;
    overflow-wrap: break-word;
     
  }
}

.modal{
  display:block;
  position: fixed;
  width: 30%;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  z-index: 4;
  text-align: center;
  overflow: hidden;

  form{
    text-align: left;
  }

  input, textarea{
    width: 100%;
    min-height: 60px;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
  }


  h3, h2{
    color: black;
    margin-bottom: 1rem;
    opacity: 100%;
  }

  .priority-label{
    color: rgba(0, 0, 0, 0.699);
    text-align: left;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
  }

  #priority{
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
  }

  .buttons{
    display: flex;
    justify-content: space-evenly;

  }

  button{
    background-color: #000000;
    padding: 10px !important; 
    border: none;
    font-size: 1rem !important;
    border-radius: 5px;
    color: #ffffff;
    font-weight: normal !important;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .edit-form button{
    display: block;
    margin: 10px auto;
  }

  .edit-form input{
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
  }

  button:hover{
    background-color: #c6c2c2;
    border: 1.5px solid #0000004e;
    color: #000000;
  }
}

@media only screen and (max-width:1200px){
  .sub-header-controls{
    width: 100%;
  }
}
  
@media only screen and (max-width:1024px){

  .tasks-status-container{
    .task-section{
      width: 32%;           
    }
  }
  
  li{  
    .task-item{
      .todo-buttons {
        flex-basis: 40%;
        
        button {
          font-size: 0.49rem;
        }
      }
        
      .task-time{
        
        font-size: 0.5rem;
        font-weight: bold;
      }
   }
  }
}

@media only screen and (max-width:900px) {
   
  .header .quote-container {
    width: 100%;
    font-size: 1.4rem;
  }
   
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 10rem auto 0 ;
  }

  .links a {
    flex: 1;
    text-align: center;
    margin: 0 5px;
    padding: 10px 5px;
    background-color:#000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #ffffff94;
  }

  a:hover{
    scale: 1.02;
  }

  .link.active {
    background-color: #ffffffe2;
    font-weight: 500;
    scale: 1.03;
    color: #000000;
  }

  .tasks-status-container {
    flex-direction: column;
    align-items: center;
    margin: 15rem auto 0 ;
    width: 100%;
    
   .fallback-message{
      font-size: 1.2rem;
      margin: 1rem 0;
    }
    
    .task-section {
      width: 100%;
      margin-bottom: 1rem;
      padding-bottom: 8rem;
    }

    .celebration-gif{
      width: 50px;
    }
  }

  .sub-header-controls{
    width: 50%;      

    input{
      flex-basis: 62%;
    }
  }

  li{
    padding:  15px 25px;
    margin-top: 1rem;
    font-size: 1rem;
  
    .task-item{
     .todo-buttons{
        flex-basis: 33%;
        justify-content: space-around;        
      }
      
     .task-buttons{
        font-size: 1rem;

        button{
          padding: 10px 10px;
          border-radius: 5px;
          font-size: 1.2rem;
          margin-top: 10px;
        }   
      }
    
      .task-time{
        font-size: 1rem;
      }

     .todo-buttons button{
        padding: 15px 10px;
        border-radius: 5px;
        font-size: 0.75rem;
        font-weight: 500;
      }

      .task-icon{
        width: 30px;
        height: 35px;
        margin-right: 5px;
      }
    }

    .todo-summary {
      margin-top: 5px;
      font-size: 1.1rem;
      width: 130px;
      text-decoration: underline !important;
    }

    .description{
      margin-left: 5px;
      font-size: 1.1rem;
    }
  }

  .modal {
    width: 70%;

   h3{
      color: black;
      margin-bottom: 1rem;
    }

    .buttons{
      button{
        padding: 10px;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
      }
    }
    
    ::placeholder{
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width:630px){

  .header{
    .quote-container{
      font-size: 1.2rem;
    }

    .clear-all-button, .new-task-button{
      font-size: clamp(13px, 2.5vw, 18px);
    }

    .new-task-button:hover, .clear-all-button:hover{
      scale:1 ;
    }
  }

  .links a {
    font-size: clamp(14px, 2.5vw, 18px);
  }

  .sub-header-controls{
    width: 63%;
    gap:10px;
  }
}

@media only screen and (max-width: 480px){

  .sub-header-controls{
    width: 80%;
  }

 .header{
    .quote-container{
      font-size: 0.8rem;
      font-weight: 500;
    }

    .header-actions{
      justify-content: space-between;
      padding: 0 20px;
    }

    .new-task-button, .clear-all-button{
      padding: 12px 15px;
      flex-basis: 40%;
    }

    .new-task-button:hover {
      background-color: none;
    }
  }


 .add-todo-container {
    flex-basis: 40%; 
  }

  .links{
   margin: 8rem auto 0 ;
  }
  
  .links a {
    padding: 8px 0px;
    font-size: 0.7rem;
  }

  .link.active {
    font-weight: 600;
  }

  .tasks-status-container {
    margin: 11.5rem auto 0 ;
    .fallback-message{
      font-size: 1rem;     
    }
    
    .task-section {
      width: 100%;
      margin-bottom: 1rem;
      height: calc(100vh - 120px - 2rem);
    }

    h2{
      font-size: 1.2rem;
    }

    .celebration-gif{
      width: 50px;
    }
  }

  li{
    padding:  10px 10px;
    margin-top: 0.5rem;
    font-size: 0.9rem;
  
    .task-item{
      .todo-buttons{
        flex-basis: 40%;
        justify-content: space-around; 
      }
      
      .task-buttons{
        font-size: 0.8rem;

        button{
          padding: 5px 5px;
          border-radius: 5px;
          font-size: 1rem;
          margin-top: 10px;
        } 
      }
      
      .task-time{
        font-size: 0.6rem;
      }

      .todo-buttons button{
        padding: 8px 7px;
        border-radius: 5px;
        font-size: 0.7rem ;
        font-weight: 500;
      }

      .task-icon{
        width: 20px;
        height: 25px;
      }
    }

    .todo-summary {
      margin-top: 5px;
      font-size: 0.7rem;
      text-decoration: underline !important;
    }

    .description{
      font-size: 0.9rem;
    }
  }

  .modal {
    width: 70%;
    input, textarea{
      width: 100%;
      min-height: 40px;
      padding: 10px;
      background-color: black;
    }

    .buttons{
      button{
        padding: 5px;
        font-size: 1rem;
      }
    }
    ::placeholder{
      font-size: 0.7rem;
    }
  }
}

@media only screen and (max-width: 365px){

  .header{
    .header-actions{
      padding: 0 10px;
    }

    .new-task-button, .clear-all-button{
      padding: 12px 12px;
      flex-basis: 47%;
    }
  }

 .add-todo-container {
    flex-basis: 47%; 
  }

  .links a {
    font-size: 0.6rem;
  }

  li{
    .task-item{
      .todo-buttons button{
        font-size: 0.6rem ;
      }
    }
  }
}

